:root {
  --font: Inter, sans-serif;
  font-family: var(--font);
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */

  --bg-black: #1c221f;
  --bg-green: #384741;
  --bg-purple: #4d3f50;
  --font-color-light: #c7d1cc;
  --link-color: #dde3e0;
  --link-hover-color: #dde3e0;
  --nav-link-color: #9aaca3;
  --icon-hover-color: #eaeeec;
  --main-header-color: #9aaca3; /* footer text */
  --main-p-color: #b0aeae;
  --project-bg-color: #28332e;
  --project-hover-bg-color: #33423b;
  --skill-bg-green: #6e8779;
  --skill-bg-purple: #876e87;
  --skill-green-gradient: linear-gradient(0deg, #28332e -10%, #6e8779 80%);
  --skill-purple-gradient: linear-gradient(0deg, #312833 -10%, #876e87 80%);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c221f;
  color: var(--font-color-light);
  font-size: 16px;
  font-family: var(--font);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-color: var(--link-hover-color);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
}

::selection {
  background-color: #384741;
}

strong {
  font-weight: 600;
}

/* ----- Header ----- */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: var(--bg-black);
  background: linear-gradient(
    0deg,
    var(--bg-green) 0%,
    var(--bg-black) calc(50% + 1px)
  );
  background-size: 220% 220%;
  animation: grad 3s 2.2s linear forwards;
  /* -webkit-animation: grad 5s ease forwards;
  -moz-animation: grad 5s ease forwards; */
}

/* @-webkit-keyframes grad {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes grad {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  } */

@keyframes grad {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% calc(99.9% + 1px);
  }
}

#top-row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.header-name {
  flex: 3;
  margin-right: 30px;
}

nav {
  display: flex;
  flex: 4;
  justify-content: flex-end;
}

nav ul {
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding-right: 1rem;
}

nav a {
  color: var(--nav-link-color);
  font-size: 20px;
  font-weight: 300;
  transition: 0.6s;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  transition: 0.25s;
}

nav li:hover {
  border-bottom: solid 1px;
  padding-bottom: 0.3rem;
  /* transform: translateY(-4px); */
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh 0.5rem;
  /* animation: fadein 1s ease-out; */
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 4rem;
}

.icons a {
  color: var(--link-color);
}

.icons h2 {
  margin: 0;
  padding: 0;
}

.icons i {
  transition: color 0.3s, transform 0.3s;
}

.icons i:hover {
  color: var(--icon-hover-color);
  transform: translateY(-4px);
}

header h1,
header h3 {
  color: var(--main-header-color);
  letter-spacing: 1.5px;
  font-weight: 300;
}

header h1 {
  font-size: 20px;
}

header h3 {
  padding: 5rem 0;
  font-size: 30px;
  margin-left: 16.5rem;
}

#fswds {
  animation: pulse 1.5s ease-in 3.2s 1 forwards;
}

@keyframes pulse {
  0% {
    color: #9aaca3;
  }
  100% {
    color: #dce7e1;
  }
}

.welcome-text h2 {
  font-size: 69px;
  font-weight: 200;
  color: #9aaca3;
}

.welcome-text h2:first-child {
  position: relative;
  top: 33px;
  right: 175.45px;
  animation: drop 2.5s ease-out 1s 1 backwards;
}

.welcome-text h2:nth-child(2) {
  position: relative;
  animation: rise 2.5s ease-out 0.3s 1 backwards;

  /* top: 40px;
  left: 100px; */
}

@keyframes drop {
  0% {
    top: -30px;
    /* right: 375.4px; */
    opacity: 0;
  }
  100% {
    top: 33px;
    /* right: 175.4px; */
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    /* right: -300px; */
    bottom: -90px;
    opacity: 0;
  }

  100% {
    /* right: 0; */
    bottom: 0;
    opacity: 1;
  }
}

/* ----- Main ----- */

#projects {
  scroll-margin-top: 170px;
}

#contact {
  scroll-margin-top: 400px;
  margin-bottom: 20rem;
}

#about {
  scroll-margin-top: -150px;
}

h4,
footer h1 {
  display: block;
  letter-spacing: 1px;
  color: #d1d1d1;
  font-weight: 300;
}

h4 {
  font-size: 30px;
  border-bottom: solid 1px;
  padding-bottom: 0.3rem;
  margin-bottom: 5rem;
}

main p {
  color: var(--main-p-color);
  line-height: 1.5;
  font-weight: 300;
}

.weightup {
  font-weight: 600;
}

/* ----- Section ----- */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 14rem 0;
}

.first {
  padding: 4rem 0 8rem;
  background: var(--bg-black);
  background: linear-gradient(
    0deg,
    var(--bg-black) 0%,
    var(--bg-green) calc(99.9% + 1px)
  );
}

.second {
  background: var(--bg-black);
  background: linear-gradient(0deg, var(--bg-purple) 0%, var(--bg-black) 100%);
}

.third {
  background: var(--bg-black);
  background: linear-gradient(0deg, var(--bg-black) 0%, var(--bg-purple) 90%);
  padding: 5rem 0 24rem;
}

.project-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: var(--project-bg-color);
  border: solid 1px #33423b;
  border-radius: 10px;
  padding: 14px;
  transition: all 0.6s;
}

.project-card:hover {
  transform: translateY(-10px);
  background-color: var(--project-hover-bg-color);
  box-shadow: 0 0 20px #6e8779;
}

.project-card img {
  align-self: center;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: left top;
  padding-bottom: 1rem;
  display: block;
}

.project-card h5 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.project-card p {
  margin: 0.5rem 0 0.25rem;
  line-height: 1.3;
  /* font-size: smaller; */
}

.project-card a {
  display: block;
}

.tech {
  font-size: smaller;
  /* font-style: italic; */
  margin-top: 0.5rem;
}

.container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  gap: 40px;
  padding: 0 24px;
}

.container img {
  max-height: 340px;
  max-width: 100%;
  margin-left: 20px;
}

.container p {
  max-width: 500px;
}

.text-container {
  display: flex;
  flex-direction: column;
  background: #21212140;
  box-shadow: 0 0px 60px 0 #4d3f47;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid #8a8a8a2e;
  padding: 30px 40px;
}

.text-container p {
  margin-bottom: 1rem;
}

.portrait {
  border-radius: 10px;
  transition: transform 0.3s;
}

.portrait:hover {
  transform: scale(1.15);
}

/* ----- Skills ----- */

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: var(--skill-bg-green);
  background: var(--skill-green-gradient);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 72px 4px #4d3f47;
}

.skill-card:nth-child(even) {
  background-color: var(--skill-bg-purple);
  background: var(--skill-purple-gradient);
}

.skill-card p {
  color: #28332e;
  font-weight: 500;
  font-size: large;
  margin: 20px 0 0;
}

.skill-container {
  width: 100%;
  background: linear-gradient(0deg, #28332e 0%, #181e1c 100%);
  border-radius: 25px;
}

.skill-card i {
  display: block;
  color: #28332e;
}

.skills {
  text-align: right;
  padding: 10px 0;
  color: #9aaca3;
  font-size: smaller;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.html,
.js {
  background: linear-gradient(0deg, #28332e 0%, #6e8779 100%);
}

.css,
.php {
  background: linear-gradient(0deg, #312833 -10%, #876e87 80%);
}

.html,
.css {
  width: 80%;
}

.js {
  width: 70%;
}

.php {
  width: 50%;
}

/* ----- Footer ----- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-black);
  font-size: smaller;
  padding: 0rem 0 1rem;
}

footer h2 {
  font-size: 14px;
  font-weight: 300;
  color: #c7d1cc;
  /* letter-spacing: 1.5px; */
  text-align: center;
}

#back-to-top {
  visibility: hidden;
  position: fixed;
  bottom: 1.5rem;
  left: 1rem;
  transition: 0.3s;
  mix-blend-mode: exclusion;
}

/* #back-to-top i {
  color: #767474;
} */

#back-to-top:hover {
  transform: scale(1.25);
  cursor: pointer;
}

#back-to-top a {
  color: #c7d1cc;
}

footer h1 {
  font-size: 30px;
  color: #9aaca3;
  line-height: 2;
  font-weight: 300;
  margin: 1rem 0 14rem;
}

#greeting {
  color: #c7d1cc;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

/* --- Mobile menu --- */

.mobile {
  display: none;
  background: none;
  cursor: pointer;
  border: none;
}

#mobilemenubutton {
  color: #9aaca3;
}

/* --- Media queries --- */

@media (max-width: 800px) {
  #top-row {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.2rem 0 0 1rem;
  }

  .header-name {
    flex: 4;
  }

  nav {
    flex: 1;
    position: fixed;
    top: 1.5rem;
    right: 0;
    width: 100%;
    z-index: 1;
    will-change: transform;
  }

  nav i {
    padding-right: 1rem;
  }

  nav ul {
    display: none;
  }

  .mobile {
    display: block;
  }

  ul.responsive {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    text-align: center;
    will-change: position;
    animation: mobmenuanim 0.6s ease-in-out forwards;
  }

  ul.responsive li {
    display: block;
    padding: 2rem;
    background-color: #28332e;
    background: linear-gradient(0deg, var(--bg-black) 0%, #28342f 100%);
    margin-left: 1rem;
    margin-top: 0px;
  }

  @keyframes mobmenuanim {
    0% {
      top: -400px;
    }
    100% {
      top: 50px;
    }
  }

  nav a {
    color: #9aaca3;
    font-size: 20px;
    font-weight: 300;
  }

  nav li:hover {
    border-bottom: none;
  }

  .welcome-text h2 {
    font-size: 50px;
  }

  .welcome-text h2:first-child {
    position: relative;
    top: 23px;
    right: 83px;
    animation: drop 2.5s ease-out 1s 1 backwards;
  }

  .welcome-text h2:nth-child(2) {
    position: relative;
    left: 44.2px;
    animation: rise 2.5s ease-out 0.3s 1 backwards;
  }

  @keyframes drop {
    0% {
      top: -30px;
      opacity: 0;
    }
    100% {
      top: 23px;
      opacity: 1;
    }
  }

  header h3 {
    padding: 5rem 0;
    font-size: 30px;
    margin-left: 2rem;
  }

  .text-container {
    padding: 1.5rem 1.1rem;
  }

  /* .skill-card {
    scale: 1;
  } */

  footer h1 {
    font-size: 30px;
    color: var(--main-header-color);
    line-height: 1.5;
    font-weight: 300;
    padding: 0 1rem;
    margin: 1rem 0 14rem;
  }
  #back-to-top {
    display: none;
    /* position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    transition: 0.3s; */
    /* mix-blend-mode: exclusion; */
  }
}

/* --- TO BE REMOVED AFTER EVALUATION --- */

/* --- Gallery --- */

#gallery {
  display: grid;
  grid-template-areas:
    "elk rodent meerkat"
    "elk turtle meerkat"
    "parrot raccoon tiger"
    "parrot . tiger";
  max-width: 900px;
  grid-auto-rows: 1fr;
  margin: 0 auto;
  gap: 0.4rem;
}

#gallery img {
  width: 100%;
  /* max-height: 400px; */
  height: 100%;
  object-fit: cover;
}

.elk {
  grid-area: elk;
}

.raccoon {
  grid-area: raccoon;
}

.meerkat {
  grid-area: meerkat;
}

.parrot {
  grid-area: parrot;
}

.rodent {
  grid-area: rodent;
}

.tiger {
  grid-area: tiger;
}

.turtle {
  grid-area: turtle;
}

/* ----- Form ----- */

.formcontainer {
  width: 300px;
  margin: 0 auto;
}

form {
  margin: 0 30px 30px 0;
}

input[type="text"],
input[type="email"],
textarea {
  display: inline-block;
  background-color: #d1d1d1;
  width: 300px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #d1d1d1;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

label {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #d1d1d1;
  margin-bottom: 4px;
}
